#bloc_de_page {
    margin: 0;
    padding: 0;
}

/* header en colonne */
header { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* resizing du logo */
#logo_site {
	max-width: 25%;
	height: auto;
}

/* disposition du menu */
#menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
}
.item-menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-menu:hover {
    color: #0065FC;
    border-bottom: solid 2px #0065FC;
    border-top: 0px;
}

/* titre et sous titre */
h1 {
    margin-left: 5%;
    margin-bottom: 20px;
}
#sous_titre {
    margin-left:  5%;
    margin-bottom: 20px;
}

/* barre de recherche */
#form_recherche {
    display: flex;
    justify-content: center;
    height: 50px;
    margin-top: 2%;
    margin-bottom: 5%;
}
#recherche {
    width: 50%;
}
#loupe_search {
    display: block;
    border-radius: 15px;
    padding: 17px;
    font-size: large;
    position: relative;
    right: 15px;
    display: flex;
    align-items: center;
}
#btn_search {
    display: none;
}

/* section filtre */
.txt {
    margin-left: 5%;
    margin-bottom: 15px;
}
#section_filtres {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5%;
}
#link_familial {
    position: relative;
    left: 195px;
    bottom: 55px;
}
#link_romantique {
    position: relative;
    bottom: 40px;
}
#link_animaux {
    position: relative;
    bottom: 30px;
}

/* zone info */
.infos {
    margin-left: 5%;
    margin-right: 5%;
}

/* zone populaire et hebergement marseille */
.titre {
    margin-left: 7%;
}
#global_marseille {
    display: flex;
    flex-direction: column-reverse;
}
#populaires, #hebergements{
    width: 100%;
    border-radius: 0%;
}
/* zone hebergement à marseille */
#hebergements{
    background-color: white;
    margin-left: 2%;
}
#log_marseille {
    flex-direction: column;
}
.tuile_hebergement {
    width: 100%;
}
/* zone populaires */
#en_tete_populaires {
    display: flex;
    justify-content: space-between;
}
div#en_tete_populaires>i {
    margin-right: 19px;
}
#liste_populaires {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    margin-top: 2%;
    margin-right: 3%;
    margin-left: 3%;
    height: 100%;
    padding-bottom: 25px;
}
/* config des tuiles populaires */
.tuile_populaires {
    height: 150px;
}
#barre_etoiles {
    position: relative;
    bottom: 10px;
}
#bleu_blanc {
    width: 50%;
}
.img_pop {
    width: 40%;
}

/* activités */
.bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.tuile_petite {
    width: 90%;
    margin-bottom: 5%;
    height: 250px;
}
.img_verticale {
    height: 200px;
    object-fit: cover;
}
.deux_photos {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.tuile_2 {
    width: 100%;
}
#bloc_2 {
    flex-direction: column;
}
.img_basse_reso {
    object-fit: cover;
    width: 100%;
    height: 75%;
}

/* footer */
#bloc_menus {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    margin-left: 5%;
}
div#bloc_menus>nav {
    margin-bottom: 8%;
}