/* configuration box-sizing et de la police */
* { 
    box-sizing: content-box;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
   /* box-sizing est appliqué à tous les éléments */
}

/* marge et padding de la page sauf le footer */
#bloc_de_page {
    margin: 0 auto;
    padding: 0 2%;
    max-width: 1500px;
}

/* en-tête du site, logo + menu */
header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 45%;
    height: 100px;
}
.item-menu {
    width: 30%;
    height: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 3px transparent;
    color: #0065FC;
}
.item-menu:hover {
    border-top: solid 3px #0065FC;
}
.menu_item:hover {
    color: #0065FC;
}

/* retraits du style des liens */
a {
    text-decoration: none;
    color: black;
}

/* Titre et sous titre */
h1 {
    font-weight: 700;
    font-size: x-large;
    margin-bottom: 0%;
}
#sous_titre {
    margin-top: 8px;
    margin-bottom: 20px;
    font-weight: 600;
}

/* barre de recherche */
#form_recherche {
    display: flex;
    height: 45px;
}
.submit {
    color: white;
    background-color: #0065FC;
    font-weight: 600;
    border-radius: 0 12px 12px 0;
    border: none;
    padding-left: 1.5%;
    padding-right: 1.5%;
}
#recherche {
    border: 1px solid #d9d9d9;
    font-weight: 700;
    padding-left: 10px;
}

/* icone gps */
#conteneur_gps {
    display: flex;
    align-items: center;
    padding: 18px;
    background-color: #d9d9d9;
    border-radius: 12px 0 0 12px;
}

/* gestion icone loupe */
#loupe_search {
    display: none;
}
#btn_search {
    display: block;
}

/* section filtres */
#section_filtres {
    margin-top: 25px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}
.txt_filtre {
    font-weight: 700;
    padding: 9px;
    position: relative;
    right: 6px;
}
section#section_filtres>a {
    margin-right: 45px;
}
.txt {
    font-weight: 700;
    margin-right: 25px;
}
.btn_filtre {
    display:flex;
    border-radius: 25px;
    height: 44px;
    border: 2px #d9d9d9 solid;
    align-items: center;
}
.btn_filtre:hover {
    background-color: #DEEBFF;
    color: #0065FC;
}
.icone_filtre {
    position: relative;
    right: 8px;
    display: flex;
    background-color: #DEEBFF;
    border-radius: 50%;
    padding: 16px;
    color: #0065FC;
    align-items: center;
}
#icone_famille {
    padding-left: 18px;
    padding-right: 18px;
}

/* sectioin hébergement à marseille et les plus populaires*/
#global_marseille {
    display: flex;
    justify-content: space-between;
}
/* section hebergement à marseille */
#hebergements {
    width: 65%;
    background-color: #f2f2f2;
    border-radius: 22px;
}
section#hebergements>h1 {
    position: relative;
    left: 4%;
    top: 5px;
}
/* bloc de tuiles photos */
#log_marseille {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin-top: 2%;  
    margin-right: 3%;
    margin-left: 3%;
}
/* config des tuiles */
.tuile_hebergement {
    width: 30%;
    transition: transform 0.3s;
    background-color: white;
    border: solid 5px white;
    border-radius: 22px;
    overflow: hidden;
    box-shadow: 1px 1px 6px gray;
    margin-bottom: 30px;
}
/* config image des tuiles */
.img_tuile {
    width: 100%;
    height: 130px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
/* effet au survol */
.tuile_hebergement:hover {
    transform: scale(1.04);
}
.tuile_hebergement>a:hover {
    color: #0065FC;
}
/* mise en forme du texte et des étoiles sous l'image */
h3.info_tuile {
    font-weight: 700;
}
.info_tuile {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    font-size: large;
}
.etoiles {
    display: flex;
    color: #0065FC;
}
#afficher_plus {
    font-size: large;
    font-weight: 700;
    position: relative;
    left: 40px;
    bottom: 5px;
}
/* aside populaire */
#populaires {
    background-color: #F2F2F2;
    border-radius: 22px;
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* en-tete populaire */
#en_tete_populaires {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: baseline;
    margin-top: 15px;
}
div#en_tete_populaires>i{
    font-size: larger;
}
/* div photos populaires */
#liste_populaires {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 82%;
    margin-top: 2%;  
    margin-right: 3%;
    margin-left: 3%;
    height: 100%;
}
/* config des tuiles populaires */
.tuile_populaires {
    transition: transform 0.3s;
    background-color: white;
    border: solid 5px white;
    border-radius: 22px;
    overflow: hidden;
    box-shadow: 1px 1px 6px gray;
    height: 25%;
}
.contenu_pop {
    display: flex;
    height: 100%;
}
.encart_pop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 6%;
    margin-right: 6%;
    width: 60%;
}
p.info_pop {
    position: relative;
    bottom: 20px;
}
.img_pop {
    object-fit: cover;
    width: 40%;
    border-radius: 22px 0 0 22px;
}
h3.info_pop {
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 15px;
}
.info_pop {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: large;
}
/* effet au survol */
.tuile_populaires:hover {
    transform: scale(1.04);
}
.tuile_populaires>a:hover {
    color: #0065FC;
}